* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-self: center;
  align-items: center;
}

.zoomer img {
  width: 500px;
  height: 500px;
  object-fit: cover;
  margin: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  cursor: zoom-in;
}

#mirror {
  width: 200px;
  height: 200px;
  background-image: url("./drinks2.jpg");
  margin: 100px;
  background-size: 1000px 1000px;
  border-radius: 50%;
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: none;
  cursor: none;
}

.hide {
  display: none;
}
